/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End reset */

.visually-hidden {
	display: none;
}

/* General neuomorphic styles */

.neuomorphic {
	border-radius: 50px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  10px 10px 19px #bababa,
                -10px -10px 19px #ffffff;
}

.neuomorphic-interactive {
	border-radius: 50px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  10px 10px 19px #bababa,
                -10px -10px 19px #ffffff;
    transition-property: transform, box-shadow;
    transition-duration: 0.3s;
}

.neuomorphic-interactive:hover {
	border-radius: 50px;
	background: linear-gradient(145deg, #f0f0f0, #cacaca);
	box-shadow:  27px 27px 54px #8f8f8f,
				 -27px -27px 54px #ffffff;
	transform: scale(1.1);
}

.neuomorphic-interactive:active {
	border-radius: 50px;
	background: #e0e0e0;
	box-shadow: inset 27px 27px 54px #8f8f8f,
				inset -27px -27px 54px #ffffff;
	transform: scale(1.1);
}

.neuomorphic-interactive-small {
	border-radius: 50px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  10px 10px 19px #bababa,
                -10px -10px 19px #ffffff;
    transition-property: transform, box-shadow;
    transition-duration: 0.3s;
}

.neuomorphic-interactive-small:hover {
	border-radius: 50px;
	background: linear-gradient(145deg, #ffffff, #cacaca);
	box-shadow:  27px 27px 54px #b0b0b0,
				 -27px -27px 54px #ffffff;
	transform: scale(1.05);
}

.neuomorphic-interactive-small:active {
	border-radius: 50px;
	background: #e0e0e0;
	box-shadow: inset 27px 27px 54px #8f8f8f,
				inset -27px -27px 54px #ffffff;
	transform: scale(1.05);
}